

.phone-container{

    --container-width: 100%;
    --container-height: 80vh;


    --phone-height: 900px;
    --phone-width: calc(var(--phone-height) * 9 / 19);
    --phone-border-radius: calc(var(--phone-height) * 0.08);

    --phone-body-thickness: calc(var(--phone-height) * 0.004);
    --phone-bezel-height: calc(var(--phone-height) - var(--phone-body-thickness) * 2);
    --phone-bezel-width: calc(var(--phone-width) - var(--phone-body-thickness) * 2);
    --phone-bezel-radius: calc(var(--phone-border-radius) - var(--phone-body-thickness));
    
    --phone-bezel-thickness: calc(var(--phone-height) * 0.015);
    --phone-screen-width: calc(var(--phone-bezel-width) - var(--phone-bezel-thickness) * 2);
    --phone-screen-height: calc(var(--phone-bezel-height) - var(--phone-bezel-thickness) * 2);
    --phone-screen-radius: calc(var(--phone-bezel-radius) - var(--phone-bezel-thickness));

    --phone-button-depth: calc(var(--phone-height) * 0.005);

    --phone-power-button-top: calc(var(--phone-height) * 0.3);
    --phone-power-button-height: calc(var(--phone-height) * 0.15);

    --phone-volume-button-top: calc(var(--phone-height) * 0.25);
    --phone-volume-button-height: calc(var(--phone-height) * 0.1);
    --phone-volume-button-gap: calc(var(--phone-height) * 0.05);

    --phone-action-button-top: calc(var(--phone-height) * 0.15);
    --phone-action-button-height: calc(var(--phone-height) * 0.05);
    

    --phone-island-width: calc(var(--phone-width) * 0.3);
    --phone-island-height: calc(var(--phone-height) * 0.04);
    --phone-island-top: calc(var(--phone-height) * 0.01);

    --phone-camera-base-width: calc(var(--phone-island-height) * 0.7);

    --phone-app-top: calc(var(--phone-island-height) + var(--phone-island-top) * 2);

    --phone-top-clock-container-left: calc(var(--phone-screen-width) * 0.12);
    --phone-top-clock-font-color: black;
    --phone-top-clock-font-size: calc(var(--phone-screen-width) * 0.05);
    --phone-top-clock-container-width: calc(var(--phone-screen-width) * 0.15);

    --phone-top-ui-container-right: calc(var(--phone-screen-width) * 0.065);
    --phone-top-ui-gap: calc(var(--phone-screen-width) * 0.02); 

    --phone-bottom-ui-container-height: calc(var(--phone-screen-height) * 0.1);
    --phone-bottom-ui-container-background-color: white;
    --phone-bottom-ui-container-box-shadow: none;
    --phone-bottom-ui-height: calc(var(--phone-bottom-ui-container-height) * 0.5);
    --phone-bottom-ui-border-radius: calc(var(--phone-bottom-ui-container-height) / 2);
    
    --phone-bottom-ui-backdrop-filter: blur(10px);
    --phone-bottom-ui-border: solid 1px rgba(0, 0, 0, 0.147);

    --phone-bottom-ui-gap: calc(var(--phone-screen-width) * 0.05);

    --phone-bottom-ui-back-button-width: calc(var(--phone-screen-width) * 0.2);
    --phone-bottom-ui-url-bar-width: auto;
    --phone-bottom-ui-url-font-size: calc(var(--phone-screen-width) * 0.05);
    

    --phone-bottom-ui-three-dots-button-width: var(--phone-bottom-ui-height);

    --phone-bottom-ui-box-shadow: 0 0 100px rgba(0, 0, 0, 0.504);


    display: flex;
    width: var(--container-width);
    height: var(--container-height);
    align-items: center;
    justify-content: center;
    user-select: none;
}

.phone-base{
    position: absolute;
    
    height: var(--phone-height);
    width: var(--phone-width);
    border-radius: var(--phone-border-radius);
    background: linear-gradient(120deg, white, rgb(117, 117, 117));
    scale: calc(var(--container-height) / var(--phone-height));
}

.phone-power-button{
    position: absolute;
    width: var(--phone-button-depth);
    height: var(--phone-power-button-height);
    background-color: rgb(116, 116, 116);
    right: calc(var(--phone-button-depth) * -1);
    top: var(--phone-power-button-top);
}

.phone-volume-button{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: var(--phone-button-depth);
    left: calc(var(--phone-button-depth) * -1);
    top: var(--phone-volume-button-top);
    gap: var(--phone-volume-button-gap);
}

.phone-volume-button::before{
    content:'';
    width: var(--phone-button-depth);
    height: var(--phone-volume-button-height);
    background-color: rgb(180, 180, 180);
}

.phone-volume-button::after{
    content:'';
    width: var(--phone-button-depth);
    height: var(--phone-volume-button-height);
    background-color: rgb(158, 158, 158);
}

.phone-action-button{
    position: absolute;
    width: var(--phone-button-depth);
    height: var(--phone-action-button-height);
    background-color: rgb(175, 175, 175);
    left: calc(var(--phone-button-depth) * -1);
    top: var(--phone-action-button-top);
}

.phone-bezel{
    position: absolute;
    height: var(--phone-bezel-height);
    width: var(--phone-bezel-width);
    border-radius: var(--phone-bezel-radius);
    top: var(--phone-body-thickness);
    left: var(--phone-body-thickness);
    background: linear-gradient(120deg, rgb(70, 70, 70), black);
}

.phone-screen{
    position: absolute;
    display: flex;
    justify-content: center;
    width: var(--phone-screen-width);
    height: var(--phone-screen-height);
    border-radius: var(--phone-screen-radius);
    top: var(--phone-bezel-thickness);
    left: var(--phone-bezel-thickness);
    background: white;
    overflow: hidden;
}

.phone-screen iframe{
    position: absolute;
    width: var(--phone-screen-width);
    height: calc(var(--phone-screen-height) - var(--phone-app-top));
    top: var(--phone-app-top);
}

.phone-island{
    position: absolute;
    display: flex;
    align-items: center;
    width: var(--phone-island-width);
    height: var(--phone-island-height);
    top : var(--phone-island-top);
    border-radius: calc(var(--phone-island-height) * 0.5);
    background: rgb(47, 47, 47);
}

.phone-camera-base{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--phone-camera-base-width);
    aspect-ratio: 1;
    border-radius: 50%;
    right: calc((var(--phone-island-height) - var(--phone-camera-base-width)) / 2);
    background-color: rgb(59, 59, 59);
}

.phone-camera-iris{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--phone-camera-base-width) / 2);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(41, 41, 41);
}

.phone-camera-highlight{
    width: calc(var(--phone-camera-base-width) / 8);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.107);
}

.phone-top-clock-container{
    position: absolute;
    display: flex;
    gap: var(--phone-top-ui-gap);
    align-items: center;
    justify-content: center;
    top: var(--phone-island-top);
    left: var(--phone-top-clock-container-left);
    width: var(--phone-top-clock-container-width);
    height: var(--phone-island-height);
}

.phone-top-clock-container p{
    color: var(--phone-top-clock-font-color);
    font-size: var(--phone-top-clock-font-size);
}
.phone-top-clock-container img{
    height: 60%;
}

.phone-top-right-ui-container{
    position: absolute;
    display: flex;
    gap: var(--phone-top-ui-gap);
    top: var(--phone-island-top);
    right: var(--phone-top-ui-container-right);
    display: flex;
    align-items: center;
    height: var(--phone-island-height);

}

.phone-top-right-ui-container img{
    height: 60%;
}

.phone-top-right-ui-container #battery{
    height: 100%;
}

.phone-bottom-ui-container{
    position: absolute;
    display: flex;
    gap: var(--phone-bottom-ui-gap);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--phone-bottom-ui-container-height);
    bottom: 0;
    background-color: var(--phone-bottom-ui-container-background-color);
    box-shadow: var(--phone-bottom-ui-container-box-shadow);
}

.phone-back-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--phone-bottom-ui-height);
    aspect-ratio: 1;
    border-radius: var(--phone-bottom-ui-border-radius);
    border: var(--phone-bottom-ui-border);
    backdrop-filter: var(--phone-bottom-ui-backdrop-filter);
    box-shadow: var(--phone-bottom-ui-box-shadow);
    
}

.phone-back-button img{
    height: 60%;
    translate: -5% 0;
}

.phone-url-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--phone-bottom-ui-url-font-size);
    width: var(--phone-bottom-ui-url-bar-width);
    height: var(--phone-bottom-ui-height);
    border-radius: var(--phone-bottom-ui-border-radius);
    border: var(--phone-bottom-ui-border);
    backdrop-filter: var(--phone-bottom-ui-backdrop-filter);
    box-shadow: var(--phone-bottom-ui-box-shadow);
}

.phone-reload-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--phone-bottom-ui-height);
    aspect-ratio: 1;
    cursor: pointer;
    transform-origin: 50% 55%;
}

@keyframes reload{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: -20deg;
    }
    100%{
        rotate: 359deg;
    }
}

.phone-reload-button img{
    height: 60%;
}

.phone-menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--phone-bottom-ui-height);
    aspect-ratio: 1;
}

.phone-menu-button img{
    height: 60%;
}

.phone-three-dots-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--phone-bottom-ui-three-dots-button-width);
    aspect-ratio: 1;
    border-radius: var(--phone-bottom-ui-height);
    border: var(--phone-bottom-ui-border);
    backdrop-filter: var(--phone-bottom-ui-backdrop-filter);
    box-shadow: var(--phone-bottom-ui-box-shadow);
}

.phone-three-dots-button img{
    height: 60%;
}