*{
    margin: 0;
    padding: 0;
}

body {
    --backgroundColor: #f0f0f0;
    --textColor: #333333;

    --colorPickerContainerWidth: 100%;
    --colorPickerContainerHeight: 100vh;
    background-color: white;

    font-family: 'Elms Sans';
}

header{
    width: 100%;
    height: 15vh;
    position: fixed;
    top:0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header-container h1 {
    text-align: center;

    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

footer {
    position: fixed;
    bottom: 0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.overlay {
    
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    transition: background-color 0.5s ease, backdrop-filter 0.5s ease; 
}

.overlay.blur{
    backdrop-filter: blur(10px) brightness(50%);
}

.overlay-hidden{
    opacity: 0;
    filter: blur(20);
    pointer-events: none;
    transition: opacity 0.5s ease, filter 0.5s ease;
}



.title{

    position: fixed;
    top: 10px;
    left: 20px;
    padding: 10px;
    width: fit-content;
    
    height: auto;
    /* border-radius: 10px;
    backdrop-filter: blur(30px);
    
    background-color: #33333333;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.634) , rgba(0, 0, 0, 0)); */
}

.title-hidden {

    transform: translateX(-100px);
    opacity: 0;
    filter: blur(10px);

}
.title h1{
    color: rgb(255, 255, 255);
    font-family: 'Elms Sans';
    font-weight: 900;
    font-size: clamp(20px, 15vw, 150px);
    line-height: clamp(20px, 15vw, 150px);
    transition: transform 1s ease, opacity 0.5s, filter 0.5s;
}

#title-1{
    transition-delay: 0ms;
}

#title-2{
    transition-delay: 100ms;
}

#title-3{
    transition-delay: 200ms;
}

.credit{

    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: auto;
    margin: 10px;
    padding: 10px;
    

    /* border-radius: 10px;
    backdrop-filter: blur(30px);
    
    background-color: #33333333;
    background: linear-gradient(to right,rgba(255, 255, 255, 0.597) , rgba(0, 0, 0, 0.215)); */
    transition: transform 1s ease, opacity 0.5s, filter 0.5s;

}

.credit.hidden{
    opacity: 0;
    transform: translateX(300px);
    filter: blur(40px);
}

.powerdby{
    display: flex;
    align-items: center;
    gap: 10px;
}

.github{
    display: flex;
    align-items: center;
    gap: 10px;
}

.github a{
    font-size: clamp(10px, 1vw, 20px);
    font-weight: 700;
    color: black;
    text-decoration: underline black;
}

.credit img{
    height: clamp(10px, 4vw, 40px);
    width: auto;
}

.credit p{
    font-size: clamp(10px, 1vw, 20px);
    font-weight: 700;
}


.indicator{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;

}

.navigation{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: auto;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
}

.indicator p{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Elms Sans';
    font-weight: 900;
    font-size: 12px;
    transition: transform 1s ease, opacity 0.5s, filter 0.5s;
}

.color-indicator{
    display: block;
}

.indicator-hidden{
    opacity: 0;
    transform: translateY(-100px);
    filter: blur(20px);
}

.navigation-hidden{
    opacity: 0;
    transform: translateY(100px);
    filter: blur(20px);
}

.navigation p{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Elms Sans';
    font-weight: 900;
    font-size: 12px;
    transition: transform 1s ease, opacity 0.5s, filter 0.5s;
}


.result{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: scroll;
    scrollbar-width: none;
    
}

.result.hidden{
    opacity: 0;
}

.result-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.result-container{
    width: 70vw;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    /* border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: #0000005e; */
    transition: opacity 1s ease, transform 1s ease, filter 1s ease;
}

.result-container.hidden{
    opacity: 0;
    transform: translateY(200px);
    filter: blur(40px);
    
}

.result-wrap a{
    text-decoration: none;
}

.result-wrap h1{
    font-weight: 900;
    font-size: clamp(25px, 15vw, 70px);
    line-height: clamp(20px, 15vw, 80px);
    color: white;
    text-align: center;
}

.result-wrap h2{
    font-weight: 900;
    font-size: clamp(20px, 7vw, 50px);
    line-height: clamp(25px, 10vw, 60px);
    color: white;
    text-align: center;
}

.result-wrap h3{
    font-weight: 900;
    font-size: clamp(15px, 5vw, 30px);
    line-height: clamp(20px, 7vw, 40px);
    color: white;
    text-align: center;
}

.image-prompt{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.generated-image{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transition: opacity 3s ease;
}

.generated-image.hidden{
    opacity: 0;
}

.return-to-title {
    width: 70vw;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    /* border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: #0000005e; */
    transition: opacity 1s ease, transform 1s ease, filter 1s ease;
}

.return-to-title.hidden{
    opacity: 0;
    transform: translateX(-400px);
    filter: blur(40px);
}

#colorPickerCanvas {
    position: fixed;
    width:100vw;
    height:100vh;
}
