body {
    --backgroundColor: #f0f0f0;
    --textColor: #333333;

    --colorPickerContainerWidth: 100%;
    --colorPickerContainerHeight: 100vh;

    margin: 0px;

    font-family: 'Elms Sans';
}

header{
    width: 100%;
    height: 15vh;
    position: fixed;
    top:0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header-container h1 {
    text-align: center;

    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

footer {
    position: fixed;
    bottom: 0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.overlay {
    
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.overlay-hidden{
    opacity: 0;
    filter: blur(20);
    pointer-events: none;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.title{
    display: block;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    /* backdrop-filter: blur(30px); */
    
    /* background-color: #33333333;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.252) , rgba(0, 0, 0, 0)) */
}

.title-hidden {

    transform: translateX(-100px);
    opacity: 0;
    filter: blur(10px);

}
.title h1{
    color: white;
    font-family: 'Elms Sans';
    font-weight: 900;
    font-size: clamp(20px, 10vw, 200px);
    margin: 0;
    text-shadow: 0 0 19px#0000007e;
    transition: transform 1s ease, opacity 0.5s, filter 0.5s;
}

#title-1{
    transition-delay: 0ms;
}

#title-2{
    transition-delay: 100ms;
}

#title-3{
    transition-delay: 200ms;
}

.credit{

    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: auto;
    margin: 10px;
    padding: 10px;

    /* border-radius: 10px;
    backdrop-filter: blur(30px);
    
    background-color: #33333333;
    background: linear-gradient(to right,rgba(255, 255, 255, 0.597) , rgba(0, 0, 0, 0.215)); */
    transition: transform 1s ease, opacity 0.5s, filter 0.5s;

}

.credit.hidden{
    opacity: 0;
    transform: translateX(300px);
    filter: blur(40px);
}

.powerdby{
    display: flex;
    align-items: center;
    gap: 10px;
}

.github{
    display: flex;
    align-items: center;
    gap: 10px;
}

.github a{
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
    color: black;
    text-decoration: underline black;
}

.credit img{
    height: 24px;
    width: auto;
}

.credit p{
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
}


.indicator{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;

}

.navigation{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: auto;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
}

.indicator p{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Elms Sans';
    font-weight: 900;
    font-size: 12px;
    transition: transform 1s ease, opacity 0.5s, filter 0.5s;
}

.color-indicator{
    display: block;
}

.indicator-hidden{
    opacity: 0;
    transform: translateY(-100px);
    filter: blur(20px);
}

.navigation-hidden{
    opacity: 0;
    transform: translateY(100px);
    filter: blur(20px);
}

.navigation p{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Elms Sans';
    font-weight: 900;
    font-size: 12px;
    transition: transform 1s ease, opacity 0.5s, filter 0.5s;
}




#colorPickerCanvas {
    position: fixed;
    width:100vw;
    height:100vh;
}
